body{
    background-color: beige;
}
div {
    color: orangered;
    background-color: royalblue;
    width: 200px;
    height: 100px; 
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    transition: linear;
    transition-duration: 3s;
    margin: 20px;
}
div:hover{
    color: black;
}